* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1 {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background: url('src/Backgrounds/Scene_1/background_scene_1.png');
    background-size: 100% 100%;
}

#brand_logo{
    display: none;
}
#button_start{
    display: none;
}
#image_cartola{
    display: none;
}
#image_cartas{
    display: none;
}